// Variables
// ---------

$pf-font-name:        'PaymentFont' !default;
$pf-font-file-name:   'paymentfont-webfont' !default;
$pf-font-path:        "../fonts" !default;
$pf-font-size-base:   14px !default;
$pf-line-height-base: 1 !default;
$pf-css-prefix:       pf !default;
$pf-version:          "1.1.2" !default;